# AWS credentials
backend/.env
.env

# Python virtual environments
.venv/
backend/.venv/

# Python cache
__pycache__/
*.pyc
.pytest_cache/

# Databases
backend/project.db
backend/mediaflow.db
*.db
*.sqlite3

# VS Code
.vscode/

# Node
frontend/node_modules/
frontend/dist/