# Cloud Media Optimization Pipeline - Required AWS Configurations

AWS_ACCESS_KEY_ID=YOUR_AWS_ACCESS_KEY_ID_HERE
AWS_SECRET_ACCESS_KEY=YOUR_AWS_SECRET_ACCESS_KEY_HERE
AWS_REGION=eu-north-1
AWS_BUCKET_NAME=shriya-media-pipeline-bucket